<div class="content">
    <div class="card">
        <div class="topCard">
            <h2 class="title">Senac Coin</h2>
            <span class="secondText">Moeda Senac Coin</span>
        </div>
        <div class="mediaCard"></div>
        <div class="bottonCard">
            <p class="bottonText">Chapter Front-End</p>
            <div class="actionsCard">
                <button class="actions">Ver</button>
                <button class="actions">Apostar</button>
            </div>
        </div>
    </div>
</div>
